*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #989898;
}


.container{
    background-image: linear-gradient(#3b3c36,#414a4c);
    color: white;
    padding: 10px;
    min-width: 100%;
    
    
}
nav ul{
    padding: 12px
}

nav li{
    display: inline;
    padding: 20px;
}

.main-nav h1{
   
    color:#dcdcdc;
    margin-right: 100px;
  
    float: right;
    font-size: 35px;
    text-shadow: 2px 2px 2px black;
    
    
}

.main-nav a{
    text-decoration: none;
    color: #dcdcdc;
    font-weight: bold;
}
.main-nav a:hover{
    color: black;
}

.main-section{
    background: url('../image/background-image.png') no-repeat center/cover;
    width: 100%;
    min-height: 60vh;
    margin-top: -20px
}

.main-section li{
    list-style: none;
    display: inline;
    float: right;
    padding: 10px;
    margin-right: 20px;
}

.main-section a{
    text-decoration: none;
    color: #999999;
}

.main-section a:hover{
    color: #dcdcdc;
    text-shadow: 1px 1px 1px #9999;
}

.main-section .main-sec{
    margin-left: 100px;
}
.main-sec{
    color: #dcdcdc;
    text-align: center;
    padding: 150px;
    overflow: hidden;
}
.main-sec p{
    margin-top: 10px;
    font-style: italic;
}

#cls-h1{
    text-align: center;
    padding: 20px;
}
.main-section1 p{
    text-align: center;
    font-family: cursive;
}

#img1{
   
    margin: 30px;
    /*border: #3b3c36 solid 2px;*/
    opacity: 0.5;

}

.main{
    display: flex;
    
    
    
}

#img1{
    width: 200%;
    height: 50vh;
    margin-left: 60px;

}
.main p{
    text-align: center;
    width: 40%;
    padding: 40px;
    float: left;
    margin-left: 190px;
    margin-top: 50px;
    font-family: sofia;
}

.last-dev{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
   
}

.new img{
    width: 400px;
    margin: 40px;
}

.new{
    border: 1px solid #ccc;
}

.new h1{
    text-align: center;
    font-family: sofia;
}

footer{
    background-image: linear-gradient(#3b3c36,#414a4c);
    text-align: center;
    min-height: 80px;
    color: #dcdcdc;
    padding: 30px;
    font-size: 16px;
    margin-top: 20px;
}



@media(max-width: 600px){
    nav li{
        display: block;
    }

    .main{
        display: none;
    }

    .last-dev{
        display: block;
    }
    .main-section .main-sec{
        margin-left: 0px;
        width: 500px;
        

}
    .main-sec p{
        margin: 0;
        padding: 0;
    }

}
  
